.about{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #FFF7EC;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		border-top: 2px #fff solid;
		max-width: 100%;
		top: 0;
		left: 0;
		right: 0;
	}
	&:after{
		content: '';
		position: absolute;
		border-top: 2px #fff solid;
		max-width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
	}
	ul{
		padding: 0;
		li{
			list-style-type: none;
			// max-width: 294px;
			// text-align: center;
		}
	}
	&__item{
		max-width: 100%;
		min-height: 330px;
		border: 2px #79BB55 solid;
		border-radius: 20px;
		margin-top: 30px;
		&--head{
			height: 130px;
			background-color: #79BB55;
			border-radius: 16px 16px 0 0;
			padding: 15px;
			span{
				margin: 0;
				font-size: 17px;
				color: #000;
				font-family: 'OpenSansSemiBold';
			}
		}
		&--desc{
			padding: 15px;
			font-size: 17px;
			color: #4F4F4F;
			font-family: 'OpenSansRegular';
		}
		.-purple{
			background-color: #B072AE;
		}
		.-orange{
			background-color: #F7A233;
		}
	}
	.-purple{
		border: 2px #B072AE solid;
	}
	.-orange{
		border: 2px #F7A233 solid;
	}
}