@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/RobotoLight/RobotoLight.eot'),
       url('../fonts/Roboto/RobotoLight/RobotoLight.woff') format('woff'),
       url('../fonts/Roboto/RobotoLight/RobotoLight.ttf') format('truetype'),
       url('../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/RobotoBold/RobotoBold.eot'),
       url('../fonts/Roboto/RobotoBold/RobotoBold.woff') format('woff'),
       url('../fonts/Roboto/RobotoBold/RobotoBold.ttf') format('truetype'),
       url('../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/RobotoMedium/RobotoMedium.eot'),
       url('../fonts/Roboto/RobotoMedium/RobotoMedium.woff') format('woff'),
       url('../fonts/Roboto/RobotoMedium/RobotoMedium.ttf') format('truetype'),
       url('../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot'),
       url('../fonts/Roboto/RobotoRegular/RobotoRegular.woff') format('woff'),
       url('../fonts/Roboto/RobotoRegular/RobotoRegular.ttf') format('truetype'),
       url('../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/RobotoThin/RobotoThin.eot'),
       url('../fonts/Roboto/RobotoThin/RobotoThin.woff') format('woff'),
       url('../fonts/Roboto/RobotoThin/RobotoThin.ttf') format('truetype'),
       url('../fonts/Roboto/RobotoThin/RobotoThin.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'DaysOne';
  src: url('../fonts/DaysOne-Regular/DaysOne-Regular.eot'),
       url('../fonts/DaysOne-Regular/DaysOne-Regular.woff') format('woff'),
       url('../fonts/DaysOne-Regular/DaysOne-Regular.ttf') format('truetype'),
       url('../fonts/DaysOne-Regular/DaysOne-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProstoOne';
  src: url('../fonts/ProstoOne-Regular/ProstoOne-Regular.eot'),
       url('../fonts/ProstoOne-Regular/ProstoOne-Regular.woff') format('woff'),
       url('../fonts/ProstoOne-Regular/ProstoOne-Regular.ttf') format('truetype'),
       url('../fonts/ProstoOne-Regular/ProstoOne-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CondensedBold';
  src: url('../fonts/OpenSansCondensed/OpenSansCondensedBold/OpenSansCondensedBold.eot'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedBold/OpenSansCondensedBold.woff') format('woff'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedBold/OpenSansCondensedBold.ttf') format('truetype'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedBold/OpenSansCondensedBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LightItalic';
  src: url('../fonts/OpenSansCondensed/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.woff') format('woff'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.ttf') format('truetype'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CondensedLight';
  src: url('../fonts/OpenSansCondensed/OpenSansCondensedLight/OpenSansCondensedLight.eot'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedLight/OpenSansCondensedLight.woff') format('woff'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedLight/OpenSansCondensedLight.ttf') format('truetype'),
       url('../fonts/OpenSansCondensed/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans/OpenSansBold/OpenSansBold.eot'),
       url('../fonts/OpenSans/OpenSansBold/OpenSansBold.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansBold/OpenSansBold.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansBold/OpenSansBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url('../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot'),
       url('../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot'),
       url('../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansExtraBoldItalic';
  src: url('../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot'),
       url('../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot'),
       url('../fonts/OpenSans/OpenSansItalic/OpenSansItalic.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansItalic/OpenSansItalic.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansItalic/OpenSansItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans/OpenSansLight/OpenSansLight.eot'),
       url('../fonts/OpenSans/OpenSansLight/OpenSansLight.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansLight/OpenSansLight.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansLight/OpenSansLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url('../fonts/OpenSans/OpenSansLightItalic/OpenSansLightItalic.eot'),
       url('../fonts/OpenSans/OpenSansLightItalic/OpenSansLightItalic.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansLightItalic/OpenSansLightItalic.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansLightItalic/OpenSansLightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot'),
       url('../fonts/OpenSans/OpenSansRegular/OpenSansRegular.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansRegular/OpenSansRegular.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegularItalic';
  src: url('../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot'),
       url('../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemiBold';
  src: url('../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot'),
       url('../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansSemiBoldItalic';
  src: url('../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot'),
       url('../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff') format('woff'),
       url('../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf') format('truetype'),
       url('../fonts/OpenSans/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BigBossIcon';
  src: url('../fonts/BigBossIcon/BigBossIcon.eot'),
       url('../fonts/BigBossIcon/BigBossIcon.woff') format('woff'),
       url('../fonts/BigBossIcon/BigBossIcon.ttf') format('truetype'),
       url('../fonts/BigBossIcon/BigBossIcon.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.cssload-wrap {
  text-align: center;
  top: 50%;
  position: relative;
}
  
.cssload-container {
  display: inline-block;
}

.cssload-dots {
  display: inline-block;
  position: relative;
}
.cssload-dots:not(:last-child) {
  margin-right: 12px;
}
.cssload-dots:before, .cssload-dots:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
}
.cssload-dots:nth-child(1):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -1.71s;
    -o-animation-delay: -1.71s;
    -ms-animation-delay: -1.71s;
    -webkit-animation-delay: -1.71s;
    -moz-animation-delay: -1.71s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(1):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -1.71s;
    -o-animation-delay: -1.71s;
    -ms-animation-delay: -1.71s;
    -webkit-animation-delay: -1.71s;
    -moz-animation-delay: -1.71s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(2):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -3.42s;
    -o-animation-delay: -3.42s;
    -ms-animation-delay: -3.42s;
    -webkit-animation-delay: -3.42s;
    -moz-animation-delay: -3.42s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(2):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -3.42s;
    -o-animation-delay: -3.42s;
    -ms-animation-delay: -3.42s;
    -webkit-animation-delay: -3.42s;
    -moz-animation-delay: -3.42s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(3):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -5.13s;
    -o-animation-delay: -5.13s;
    -ms-animation-delay: -5.13s;
    -webkit-animation-delay: -5.13s;
    -moz-animation-delay: -5.13s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(3):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -5.13s;
    -o-animation-delay: -5.13s;
    -ms-animation-delay: -5.13s;
    -webkit-animation-delay: -5.13s;
    -moz-animation-delay: -5.13s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(4):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -6.84s;
    -o-animation-delay: -6.84s;
    -ms-animation-delay: -6.84s;
    -webkit-animation-delay: -6.84s;
    -moz-animation-delay: -6.84s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(4):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -6.84s;
    -o-animation-delay: -6.84s;
    -ms-animation-delay: -6.84s;
    -webkit-animation-delay: -6.84s;
    -moz-animation-delay: -6.84s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(5):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -8.55s;
    -o-animation-delay: -8.55s;
    -ms-animation-delay: -8.55s;
    -webkit-animation-delay: -8.55s;
    -moz-animation-delay: -8.55s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(5):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -8.55s;
    -o-animation-delay: -8.55s;
    -ms-animation-delay: -8.55s;
    -webkit-animation-delay: -8.55s;
    -moz-animation-delay: -8.55s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(6):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -10.26s;
    -o-animation-delay: -10.26s;
    -ms-animation-delay: -10.26s;
    -webkit-animation-delay: -10.26s;
    -moz-animation-delay: -10.26s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(6):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -10.26s;
    -o-animation-delay: -10.26s;
    -ms-animation-delay: -10.26s;
    -webkit-animation-delay: -10.26s;
    -moz-animation-delay: -10.26s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(7):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -11.97s;
    -o-animation-delay: -11.97s;
    -ms-animation-delay: -11.97s;
    -webkit-animation-delay: -11.97s;
    -moz-animation-delay: -11.97s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(7):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -11.97s;
    -o-animation-delay: -11.97s;
    -ms-animation-delay: -11.97s;
    -webkit-animation-delay: -11.97s;
    -moz-animation-delay: -11.97s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(8):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -13.68s;
    -o-animation-delay: -13.68s;
    -ms-animation-delay: -13.68s;
    -webkit-animation-delay: -13.68s;
    -moz-animation-delay: -13.68s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(8):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -13.68s;
    -o-animation-delay: -13.68s;
    -ms-animation-delay: -13.68s;
    -webkit-animation-delay: -13.68s;
    -moz-animation-delay: -13.68s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(9):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -15.39s;
    -o-animation-delay: -15.39s;
    -ms-animation-delay: -15.39s;
    -webkit-animation-delay: -15.39s;
    -moz-animation-delay: -15.39s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(9):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -15.39s;
    -o-animation-delay: -15.39s;
    -ms-animation-delay: -15.39s;
    -webkit-animation-delay: -15.39s;
    -moz-animation-delay: -15.39s;
  background-color: rgb(247,162,51);
}
.cssload-dots:nth-child(10):before {
  transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
  animation: cssload-animBefore 1.9s linear infinite;
    -o-animation: cssload-animBefore 1.9s linear infinite;
    -ms-animation: cssload-animBefore 1.9s linear infinite;
    -webkit-animation: cssload-animBefore 1.9s linear infinite;
    -moz-animation: cssload-animBefore 1.9s linear infinite;
  animation-delay: -17.1s;
    -o-animation-delay: -17.1s;
    -ms-animation-delay: -17.1s;
    -webkit-animation-delay: -17.1s;
    -moz-animation-delay: -17.1s;
  background-color: rgb(121,187,85);
}
.cssload-dots:nth-child(10):after {
  transform: translateY(200%);
    -o-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
  animation: cssload-animAfter 1.9s linear infinite;
    -o-animation: cssload-animAfter 1.9s linear infinite;
    -ms-animation: cssload-animAfter 1.9s linear infinite;
    -webkit-animation: cssload-animAfter 1.9s linear infinite;
    -moz-animation: cssload-animAfter 1.9s linear infinite;
  animation-delay: -17.1s;
    -o-animation-delay: -17.1s;
    -ms-animation-delay: -17.1s;
    -webkit-animation-delay: -17.1s;
    -moz-animation-delay: -17.1s;
  background-color: rgb(247,162,51);
}




@keyframes cssload-animBefore {
  0% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-o-keyframes cssload-animBefore {
  0% {
    -o-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -o-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -o-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -o-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -o-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-ms-keyframes cssload-animBefore {
  0% {
    -ms-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -ms-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -ms-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -ms-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -ms-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-webkit-keyframes cssload-animBefore {
  0% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@-moz-keyframes cssload-animBefore {
  0% {
    -moz-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  25% {
    -moz-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  50% {
    -moz-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  75% {
    -moz-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  100% {
    -moz-transform: scale(1) translateY(-200%);
    z-index: -1;
  }
}

@keyframes cssload-animAfter {
  0% {
    transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-o-keyframes cssload-animAfter {
  0% {
    -o-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -o-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -o-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -o-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -o-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-ms-keyframes cssload-animAfter {
  0% {
    -ms-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -ms-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -ms-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -ms-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -ms-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-webkit-keyframes cssload-animAfter {
  0% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -webkit-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -webkit-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -webkit-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -webkit-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-moz-keyframes cssload-animAfter {
  0% {
    -moz-transform: scale(1) translateY(200%);
    z-index: -1;
  }
  25% {
    -moz-transform: scale(0.7) translateY(0);
    z-index: -1;
  }
  50% {
    -moz-transform: scale(1) translateY(-200%);
    z-index: 1;
  }
  75% {
    -moz-transform: scale(1.3) translateY(0);
    z-index: 1;
  }
  100% {
    -moz-transform: scale(1) translateY(200%);
    z-index: 1;
  }
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}


body{
  font-family: 'Roboto';
  background-color: #fff;
}

.-prostoOne{
  font-family: 'ProstoOne';
}

.mfp-arrow-left:before {
    border-right: 27px solid #79bb55;
}

.mfp-arrow-right:before {
    border-left: 27px solid #79bb55;
}

.mm-navbar {
  height: 83px;
}

.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
    margin-top: 23px;
}