.video-wrap{
	padding-bottom: 50px;
	&__wrap{
		max-width: 560px;
		margin: 0 auto;
		margin-top: 20px;
		position: relative;

		&:before{
			content: '';
			position: absolute;
			right: 105%;
			top: 50%;
			margin-top: -90px;
			background-image: url('../images/decor2.png');
			width: 75px;
			height: 180px;
			@media (max-width: $screen-xs-max) {
				display: none;
			}
		}
		&:after{
			content: '';
			position: absolute;
			left: 105%;
			top: 50%;
			margin-top: -90px;
			background-image: url('../images/decor2.png');
			width: 75px;
			height: 180px;
			transform: rotate(180deg);
			@media (max-width: $screen-xs-max) {
				display: none;
			}
		}
	}
}